<template>
    <ul>
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="/page">Pagina</router-link></li>
        <li><router-link to="/users">Utenti</router-link></li>
        <li><router-link to="/actors">Attori</router-link></li>
    </ul>
</template>

<script>
export default {
    name: 'Header',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        li a{
            text-decoration: none;
            padding: 10px;
            &:hover{
                border: blue solid;
            }
            &.router-link-exact-active{
                background: gray;
            }
        }
    }

</style>
