<template>
    <div v-if="user.address">
        <h3>Indirizzo</h3>
        <div class="row">
            <div class="col-6">
                <p>Via: {{user.address.street}}</p>
            </div>
            <div class="col-6">
                <p>Città: {{user.address.city}}</p>
            </div>
            <div class="col-6">
                <p>Cap: {{user.address.zipcode}}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AddressData',
    props: ['user']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
