<template>
    <div>
        <h3>Dati Principali</h3>
        <div class="row">
            <div class="col-6">
                <p>Nome: {{user.name}}</p>
            </div>
            <div class="col-6">
                <p>Email: {{user.email}}</p>
            </div>
            <div class="col-6">
                <p>Telefono: {{user.phone}}</p>
            </div>
            <div class="col-6">
                <p>Sito Web: <a :href="user.website">{{user.website}}</a></p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'GeneralData',
    props: ['user']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
