<template>
    <div>
        <Header/>
        <v-touch @swipeleft="goSwipe('right')" @swiperight="goSwipe('left')">
            <router-view/>
        </v-touch>
    </div>
</template>

<script>
    import routes from '../../router/routes';
    import Header from "../core/Header";
export default {
    name: 'AuthPage',
    components: {Header},
    methods: {
        goSwipe(direction){
            let routesFilter = routes.filter(route => route.path.indexOf(':') === -1);
            let indexRoute = routesFilter.findIndex(route => route.name === this.$route.name);
            let nextRoute = this[direction](routesFilter, indexRoute);
            this.$router.push(nextRoute.path);
        },
        right(routesFilter, indexRoute){
            return routesFilter.length <= (indexRoute +1) ? routesFilter[0] : routesFilter[indexRoute +1];
        },
        left(routesFilter, indexRoute){
            return indexRoute <= 0 ? routesFilter[routesFilter.length - 1] : routesFilter[indexRoute-1];
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
