<template>
    <div>
        <h1>Lista Attori</h1>
        <ul>
            <li v-for="actor in actors">{{actor.name}}</li>
        </ul>
    </div>
</template>

<script>

export default {
  name: 'Actors',
  data(){
    return {
      actors: []
    }
  },
  mounted() {
    this.$http.get('https://www.massimilianosalerno.it/jwt/api/test').then(res => {
      this.actors = res.body.data;
    })
  }
}
</script>

<style scoped lang="scss">




</style>
