<template>
  <div class="home">
    <app-card v-for="el in listData" :title="el.title" :subtitle="el.subtitle" />
  </div>
</template>

<script>

export default {
  name: 'Home',
  data(){
    return {
      listData: [
        {title: 'Titolo1', subtitle: 'Sottotitolo1'},
        {title: 'Titolo2'},
        {title: 'Titolo3', subtitle: 'Sottotitolo3'},
      ]
    }
  }
}
</script>

<style scoped lang="scss">

  .home{
    display: flex;
    justify-content: space-around;
  }


</style>
