<template>
  <div class="container">
    <div class="card">
      <div class="card-header bg-primary text-light">
        Pagina di {{user.name}}
      </div>
      <div class="card-body">
        <GeneralData :user="user"/>
        <hr>
        <AddressData :user="user"/>
        <hr>
        <CompanyData v-if="user.company" :user="user"/>
      </div>
    </div>
    <h1></h1>
  </div>
</template>

<script>

import GeneralData from "../components/views/user/GeneralData";
import AddressData from "../components/views/user/AddressData";
import CompanyData from "../components/views/user/CompanyData";
export default {
  name: 'User',
  components: {CompanyData, AddressData, GeneralData},
  data(){
    return {
      id: this.$route.params.id,
      user: {}
    }
  },
  mounted() {
    this.$http.get('users/'+this.id).then(res => {
      this.user = res.body;
    })
  }
}
</script>

<style scoped lang="scss">




</style>
