<template>
  <div class="container">
    <div v-if="!newUser">
      <h1>Lista Utenti <span class="cursor-pointer" @click="setNewUser()"><i class="fas fa-plus-square"></i></span></h1>
      <ul class="list-group">
        <li v-for="user in users" :key="user.id" class="list-group-item list-group-item-primary d-flex justify-content-between">
          <router-link :to="{name: 'UserDetail', params: {id: user.id}}">{{user.name}}</router-link>
          <div>
            <span class="cursor-pointer" @click="setNewUser(user)">
              <i class="fas fa-edit"></i>
            </span>
            <span class="cursor-pointer" @click="deleteUser(user)">
              <i class="fas fa-trash-alt"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <div v-else>
      <h1>{{newUser.id? 'Modifica Utente' : 'Nuovo utente'}}</h1>
      <form @submit.prevent="addUser">
        <div class="form-group">
          <input type="text" v-model="newUser.name" class="form-control" placeholder="Nome Utente">
        </div>
        <div class="form-group">
          <input type="text" v-model="newUser.username" class="form-control" placeholder="Username Utente">
        </div>
        <div class="form-group">
          <input type="email" v-model="newUser.email" class="form-control" placeholder="email Utente">
        </div>
        <div class="form-group">
          <input type="text" v-model="newUser.phone" class="form-control" placeholder="Telefono Utente">
        </div>
        <div class="btn-group">
          <button type="button" @click="resetNewUser" class="btn btn-info">Annulla</button>
          <button type="submit" class="btn btn-primary">{{newUser.id? 'Aggiorna' : 'Aggiungi'}}</button>
        </div>
      </form>
    </div>

  </div>
</template>

<script>

export default {
  name: 'Users',
  data(){
    return {
      users: [],
      newUser: undefined
    }
  },
  methods: {
    setNewUser(user = {}){
      this.newUser = JSON.parse(JSON.stringify(user));
    },
    resetNewUser(){
      this.newUser = undefined;
    },
    addUser(){
      if(this.newUser.id){
        this.$http.put('https://jsonplaceholder.typicode.com/users/'+this.newUser.id, this.newUser).then(res => {
          this.users = this.users.map(us => us.id !== this.newUser.id? us : res.body);
          this.resetNewUser();
        })
      } else {
        this.$http.post('https://jsonplaceholder.typicode.com/users', this.newUser).then(res => {
          this.users = [...this.users, res.body];
          this.resetNewUser();
        })
      }
    },
    deleteUser(user){
      this.$http.delete('https://jsonplaceholder.typicode.com/users/'+user.id).then(res => {
        if(res.ok)
          this.users = this.users.filter(el => el.id !== user.id)
      })
    }
  },
  mounted() {
    this.$http.get('https://jsonplaceholder.typicode.com/users').then(res => {
      this.users = res.body;
    }, err => {
      console.log(err, 'errore')
    })
  }
}
</script>

<style scoped lang="scss">




</style>
