<template>
    <div class="customCard" :class="[this.color, {borderRed}]" @click="borderRed = !borderRed">
        <p>{{title}}</p>
        <span>{{subtitle}}</span>
        <input type="text" v-model="color">
    </div>
</template>

<script>
export default {
    name: 'Card',
    data(){
        return {
            borderRed: false,
            color: ''
        }
    },
    props: {
        title: {
            type: String,
            required: true
        },
        subtitle: {
            type: String,
            default: 'sottotitolo'
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .customCard{
        height: 150px;
        width: 150px;
        background: blue;
        border: solid green;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-size: 20px;
            text-align: center;
        }
        span{
            font-size: 10px;
            text-align: center;
        }
        &.red{
            background: red;
        }
        &.blue{
            background: blue;
        }
        &.yellow{
            background: yellow;
        }
        &.green{
            background: green;
        }
        &.borderRed {
            border: solid red;
        }
    }

</style>
