<template>
  <div class="hello">
    <div v-if="show">
      <h1>{{ title? getTitle() : 'Titolo non presente' }}</h1>
      <input  type="text" @keyup.13="saveElement($event, true)" :value="title" @input="changeTitle">
      <a href="/" @click.prevent="saveElement($event)">
        Save
      </a>
    </div>
    <div v-else>Il div è chiuso</div>
    <button type="button" @click="show = !show">{{show? 'nascondi' : 'mostra'}}</button>
    <div>
      <h1>Operazioni sui seguenti numeri</h1>
      <div>
        <ul>
          <li v-for="n in numbers">
            {{n}}
          </li>
        </ul>
      </div>
      <div>
        <p>La somma è {{sum}}</p>
        <p>La media è {{average}}</p>
      </div>
      <div>
        <h3>Aggiungi un numero</h3>
        <input type="number" v-model.number="number" @keyup.13="addNumber">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  computed: {
    sum: function(){
      return this.numbers.reduce((sum, n) =>  sum + n, 0);
    },
    average: function(){
      return this.numbers.length ? this.sum/this.numbers.length : 0;
    },
  },
  methods: {
    addNumber: function(){
      if(this.number){
        this.numbers.push(this.number);
        this.number = undefined;
      }
    },
    changeTitle: function (event) {
      this.title = event.target.value;
    },
    getTitle: function () {
      return this.text.toUpperCase();
    },
    saveElement: function (event, reset = false) {
      setTimeout(()=> {
        console.log(event);
          alert('salvataggio avvenuto con successo');
          if(reset)
            this.title = '';
      }, 700)
    }
  },
  data(){
    return {
      title: 'Ciao Mondo',
      text: 'Testo di prova',
      numbers: [],
      number: undefined,
      show: true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

h3 {
  margin: 40px 0 0;
}


</style>
