<template>
  <div id="app">
    <Login @sendToken="setToken" v-if="!token"/>
    <AuthPage v-else />

  </div>
</template>

<script>
  import AuthPage from "./components/app/AuthPage";
  import Login from "./components/app/Login";
  export default {
    data(){
      return{
        token: undefined,
      }
    },
    components: {Login, AuthPage},
    mounted(){
      if(localStorage.getItem('token')){
        this.token = localStorage.getItem('token')
      }
    },
    methods: {
      setToken(token){
        this.token = token;
        localStorage.setItem('token', this.token);
      }
    }
  }
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.cursor-pointer{
  cursor: pointer;
}
</style>

